.slider {
  margin: 0 auto;

}

.slide_viewer {
  height: 370px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;


}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: rgba(212, 68, 87, 0.9);
  cursor: pointer;
}

.directional_nav {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.previous_btn {
  display: block;
  position: absolute;
  bottom: 9em;
  background-position: 0 -40px;
  left: 20px;
}

.next_btn {
  display: block;
  position: absolute;
  bottom: 9em;
  background-position: 0 0;
  right: 5px;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}


 .hero-content button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

 .hero-content button:hover {
  background-color: #555;
  color: white;
}
.hero-bg {

  height: 100%;
  max-height: 468px;
  width: 100%;
  clear: both;
  position: absolute;
  margin-bottom: 200px;
}
.hero-content {
  position: absolute;

  right: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  color:#fff;
  font-size:2em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);

}
.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: rgba(212, 68, 87, 0.9);
  display: inline-block;

  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  position: relative;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}

  @media only screen and (max-width: 318px) {
  .slide_buttons {
    top: 37.2em;
  }
}
@media only screen and (min-width: 319px) and (max-width: 491px) {
  .slide_buttons {
    top: 36.2em;
  }
}
@media only screen and (min-width: 492px) and (max-width: 749px) {
.slide_buttons {
  top: 35.2em;
}
}
@media only screen and (min-width: 750px) {
  .slide_buttons {
    top: 29em;
  }
}