.header {
  overflow: hidden;
  background-color: #2C340C;
  opacity: 0.9;

}


.header-text p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.logo {
  height: 120px;
}
  img#logo1 {
    animation: App-logo-spin infinite 8s linear;
    position: absolute;

  }

  @keyframes App-logo-spin {

    to { transform: rotateY(360deg); }

  }
.header-text {
  position: absolute;
  top: 34px;
  left: 23em;
  font-family: "Open Sans", sans-serif;

}
.header-btn {
  position: absolute;
  background-color: rgba(212, 68, 87, 0.9);
  left: 14em;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 0.8em 1em 0.8em;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-decoration: none;

}
.header-btn:hover {
  opacity: 0.8;
}
.header-btn:active {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
}
.hero-btn :hover {
  background-color: #555;
  color: white;
}
@media screen and (max-width: 564px) {
  .header-btn {
    position: static;
    width: 27%;
    padding: 0.8em 0.5em 0.8em 0.5em;
    margin: 0 auto 10px auto;
    font-size: smaller;
    top: 45px;
  }
}
@media screen and (max-width: 749px) {
  .header a, .header p {
    float: none;
    display: block;
    text-align: center;
  }
  .header-text{
    position: static;
   text-align: center;
  }

}
@media screen and (min-width: 750px) {
  .logo-wrapper {
    margin-left: 1.5em;
  }
}
@media screen and (min-width: 564px) and (max-width: 749px) {
  .header-btn {
    position: static;
    width: 20%;
    padding: 0.8em 0.5em 0.8em 0.5em;
    margin: 0 auto 10px auto;
    font-size: smaller;
    top: 45px;
  }
}
@media screen and (min-width: 750px) and (max-width: 830px) {
  .header-btn {
    top: 44px;
  }
}
@media screen and (min-width: 831px) {
  .header-btn {
    top: 42px;
  }
}
@media screen and (min-width: 970px) {
  .header-text {
    left: 30em;

  }

}
