* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EEE;
  overflow-x: hidden;
}

.header {
  overflow: hidden;
  background-color: #2C340C;
  opacity: 0.9;
  border-bottom: 1px solid #9d9d9d;
}

.header-text p {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 120px;
}

img#logo1 {
  animation: App-logo-spin infinite 8s linear;
  position: absolute;
}

@keyframes App-logo-spin {
  to {
    transform: rotateY(360deg);
  }
}
.header-text {
  position: absolute;
  top: 34px;
  left: 23em;
  font-family: "Open Sans", sans-serif;
}

.header-btn {
  position: absolute;
  background-color: rgba(212, 68, 87, 0.9);
  left: 14em;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  padding: 0.8em 1em 0.8em;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-btn:hover {
  opacity: 0.8;
}

.header-btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.hero-btn :hover {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 564px) {
  .header-btn {
    position: static;
    width: 27%;
    padding: 0.8em 0.5em 0.8em 0.5em;
    margin: 0 auto 10px auto;
    font-size: smaller;
    top: 45px;
  }
}
@media screen and (max-width: 749px) {
  .header a, .header p {
    float: none;
    display: block;
    text-align: center;
  }

  .header-text {
    position: static;
    text-align: center;
  }
}
@media screen and (min-width: 750px) {
  .logo-wrapper {
    margin-left: 1.5em;
  }
}
@media screen and (min-width: 564px) and (max-width: 749px) {
  .header-btn {
    position: static;
    width: 20%;
    padding: 0.8em 0.5em 0.8em 0.5em;
    margin: 0 auto 10px auto;
    font-size: smaller;
    top: 45px;
  }
}
@media screen and (min-width: 750px) and (max-width: 830px) {
  .header-btn {
    top: 44px;
  }
}
@media screen and (min-width: 831px) {
  .header-btn {
    top: 42px;
  }
}
@media screen and (min-width: 970px) {
  .header-text {
    left: 30em;
  }
}
.slider {
  margin: 0 auto;
}

.slide_viewer {
  height: 370px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #2C340C;
  opacity: 0.8;
}

.slide:nth-of-type(2) {
  background: #2C340C;
  opacity: 0.8;
}

.slide:nth-of-type(3) {
  background: #2C340C;
  opacity: 0.8;
}

.slide:nth-of-type(4) {
  background: #2C340C;
  opacity: 0.8;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #fff;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: rgba(212, 68, 87, 0.9);
  cursor: pointer;
}

.directional_nav {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.previous_btn {
  display: block;
  position: absolute;
  bottom: 9em;
  background-position: 0 -40px;
  left: 20px;
}

.next_btn {
  display: block;
  position: absolute;
  bottom: 9em;
  background-position: 0 0;
  right: 5px;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

.hero-content button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: #555;
  color: white;
}

.hero-bg {
  height: 100%;
  max-height: 468px;
  width: 100%;
  clear: both;
  position: absolute;
  margin-bottom: 200px;
}

.hero-content {
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content-text h2 {
  color: #fff;
  font-size: 2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.last-hero-content-text h2 {
  color: #000;
  font-size: 2em;
}

.btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fff;
  background-color: rgba(212, 68, 87, 0.9);
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

@media only screen and (max-width: 318px) {
  .slide_buttons {
    top: 36.7em;
  }
}
@media only screen and (min-width: 319px) and (max-width: 381px) {
  .slide_buttons {
    top: 36.7em;
  }
}
@media only screen and (min-width: 382px) and (max-width: 491px) {
  .slide_buttons {
    top: 36.2em;
  }
}
@media only screen and (min-width: 492px) and (max-width: 749px) {
  .slide_buttons {
    top: 35.2em;
  }
}
@media only screen and (min-width: 750px) {
  .slide_viewer {
    height: 400px;
  }

  .slide_buttons {
    top: 31em;
  }
}
.main-content-header-wrapper {
  text-align: center;
  margin-top: 2.5em;
}

.main-content-header {
  color: #222;
  font-size: 2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.main-content-header-wrapper p {
  color: #222;
  font-size: 1.4em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

/* ---- grid ---- */
.grid {
  background: #EEE;
  max-width: 1200px;
  margin: 2em auto 0 auto;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.grid-item--width2 {
  width: 40%;
}

.grid-item--width3 {
  width: 60%;
}

.grid-item--height2 {
  height: 200px;
}

.grid-item--height3 {
  height: 260px;
}

.grid-item--height4 {
  height: 360px;
}

.box {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.box .box-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.box:hover .box-overlay {
  opacity: 1;
}

.box-image {
  width: 100%;
}

.box-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.main-box-details {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.box:hover .box-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.box-details h3, .main-box-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.08em;
  margin-bottom: 0.5em;
}

.box-details p, .main-box-details p {
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

@media only screen and (max-width: 450px) {
  .hero-content-text h2 {
    color: #fff;
    font-size: 1.7em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .box-details h3, .main-box-details h3 {
    font-size: 0.6em;
  }

  .box-details p, .main-box-details p {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 451px) and (max-width: 600px) {
  .box-details h3, .main-box-details h3 {
    font-size: 0.8em;
  }

  .box-details p, .main-box-details p {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 768px) {
  .fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    top: 0;
    width: 515px;
  }
}
@media only screen and (max-width: 767px) {
  .fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #222;
    border-top: 1px solid #222;
    top: 0;
    width: 75px;
  }
}
.form-link {
  text-decoration: none;
  color: #8da626;
  transition: 0.5s ease;
}
.form-link:hover {
  color: #7b9121;
}

.form {
  background: #2C340C;
  opacity: 0.8;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li .form-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 18px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.tab-group li .form-link:hover {
  background: #7b9121;
  color: #ffffff;
}
.tab-group .active .form-link {
  background: #8da626;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.form-header {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #fff;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 19px;
}
label .req {
  margin: 2px;
  color: #D26;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 17px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #D26;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.form-button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #8da626;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.form-button:hover, .form-button:focus {
  background: #7b9121;
}

.button-block {
  display: block;
  width: 40%;
  margin: auto;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .button-block {
    display: block;
    width: 50%;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
